input {
    padding: 5px;
    width: 100%;
}

textarea {
    width: 100%;
}

.formbox {
    max-width: 500px;
    margin: 0 auto;
}

.form__input {
    margin-bottom: 20px;
}

.heading {
    text-align: center;
    margin: 20px;
}